DB_NAME=movies_database
DB_USER=app
DB_PASSWORD=123qwe
STACK_VERSION=8.6.2
ESLASTIC_STACK_VERSION=8.6.2
ELASTIC_MEM_LIMIT=1073741824


# Django envs
DB_NAME=movies_database
DB_USER=app
DB_PASSWORD=123qwe
DB_HOST=postgres
SECRET_KEY='django-insecure-st4ydzn+ia^1_9rb5o&d9#frx424kx3+$b3x=xv2)gw1ias4y('
DEBUG=True
ALLOWED_HOSTS=127.0.0.1

# ETL envs
DB_NAME=movies_database
DB_USER=app
DB_PASSWORD=123qwe
HOST=postgres
PORT=5432
ELASTIC_HOST=elastic
ELASTIC_PORT=9200
REDIS_HOST=redis-api
REDIS_PORT=6379
TIME_DELTA=6
TIME_SYNC=10

# Async api envs
PROJECT_NAME=movies
API_REDIS_HOST=redis-api
API_REDIS_PORT=6379
ELASTIC_HOST=elastic
ELASTIC_PORT=9200

# Auth envs
AUTH_DB_HOST=postgres-auth
AUTH_DB_PASSWORD=qwerty
AUTH_DB_USER=auth_user
AUTH_DB_NAME=auth_db
AUTH_DB_PORT=5432

ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30

SUPER_USER_LOGIN=superadmin
SUPER_USER_PASSWORD=admin
SUPER_USER_FIRST_NAME=admin
SUPER_USER_LAST_NAME=admin
SUPER_USER_EMAIL=superadmin@admin.com

AUTH_REDIS_HOST=redis-auth
AUTH_REDIS_PORT=6379

SALT=<salt>
APP_ITERS=100_000

ADMIN_ROLE_NAME=admin
SUPERADMIN_ROLE_NAME=superadmin
USER_ROLE_NAME=user
SUBSCRIBER_ROLE_NAME=subscriber
GUEST_ROLE_NAME=guest

ACCESS_TOKEN=access_token
REFRESH_TOKEN=refresh_token

# UGC
MONGO_HOST_UGC=mongo
MONGO_PORT_UGC=27017
MONGO_NAME_UGC=UGCDB

UGC_REDIS_HOST=redis-ugc
UGC_REDIS_PORT=6379

JAEGER_ON=False
JAEGER_HOST=jaeger_cinema
JAEGER_PORT=16686

SENTRY_ON=True
SENTRY_DSN="https://41bb46185be0762e68629d95a04364cf@o4508129477591040.ingest.de.sentry.io/4508160224919632"

JWT_SECRET_KEY="secret"

UPDATE_TIME=30
UPDATE_VAL=1000
CAPACITY=1000

UGC_KAFKA_TOPIC=ugc
KAFKA_BOOTSTRAP_SERVER=kafka-0:9092
UGC_KAFKA_GROUP_ID=etl_kafka_to_mongo

# Common
TOKEN_SECRET_KEY="09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7"
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_WEEKS=1


