# aiohttp==3.9.5
# elasticsearch==7.9.1
# pydantic==2.1.1
# pydantic-settings==2.0.1
# pytest==7.4.3
# pytest-asyncio==0.21.1
# redis==5.0.4

aiohttp==3.9.5
elasticsearch==8.10.1
pydantic-settings==2.1.0

pytest==7.4.3
pytest-asyncio==0.21.1
redis==5.0.4
