AUTH_DB_HOST=postgres-auth
AUTH_DB_PASSWORD=qwerty
AUTH_DB_USER=auth_user
AUTH_DB_NAME=auth_db
AUTH_DB_PORT=5432


AUTH_REDIS_PORT=6379

SECRET_KEY="09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30

SUPER_USER_LOGIN=superadmin
SUPER_USER_PASSWORD=admin
SUPER_USER_FIRST_NAME=admin
SUPER_USER_LAST_NAME=admin
SUPER_USER_EMAIL=superadmin@admin.com

REDIS_HOST=redis-auth
REDIS_PORT=6379

SALT=<salt>
APP_ITERS=100_000

ADMIN_ROLE_NAME=admin
SUPERADMIN_ROLE_NAME=superadmin
USER_ROLE_NAME=user
SUBSCRIBER_ROLE_NAME=subscriber
GUEST_ROLE_NAME=guest

ACCESS_TOKEN=access_token
REFRESH_TOKEN=refresh_token
